/* This defines styles and classes used in the book */
/* body { margin: 5%; text-align: justify; font-size: medium; } */

body {
    color: #444;
    font-family: 'Gentium Basic', serif;
    font-size: 14px;
    line-height: 1.7;
    padding: 1em;
    margin: auto;
    max-width: 42em;
    background: #fefefe;
}
code { font-family: monospace; }
h1 { text-align: left; }
h2 { text-align: left; }
h3 { text-align: left; }
h4 { text-align: left; }
h5 { text-align: left; }
h6 { text-align: left; }
h1.title { }
h2.author { }
h3.date { }
ol.toc { padding: 0; margin-left: 1em; }
ol.toc li { list-style-type: none; margin: 0; padding: 0; }
a.footnoteRef { vertical-align: super; }
em, em em em, em em em em em { font-style: italic;}
em em, em em em em { font-style: normal; }
.firstcharacter {
    color: #88012e;
    float: left;
    font-family: Georgia;
    font-size: 55px;
    line-height: 10px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

img {
    max-width: 100%;
    height: auto;
}

pre,pre.programlisting {
    background-color: #f8f8f9;
    /* color:blue; */
    /* clear:both; */
    /* margin:.5em 2em; */
    /* overflow:auto; */
    /* padding:.5em 2em; */
    /* white-space:pre-wrap; */
    /* word-wrap:break-word; */
}